h1 {
    text-align: center;
    text-shadow: 4px 4px 5px  rgb(40, 184, 40);
    color: rgb(81, 6, 156);
}
nav {
    background-color: rgb(238, 25, 25);
    text-align: center;
    text-color: white;
}
a {
    text-decoration-line: none;
}
nav ul {
    list-style: none;
}
nav li {
    display: inline-block;
    padding: 15px;
}
.wrapper {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-gap: 10px;
    background-color: #fff;
    color: #444;
}
  
.box {
    background-color: #444;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    font-size: 150%;
}
